<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The personal website for Jeffrey Meng">
    <meta name="author" content="Jeffrey Meng">

    <title>Jeffrey Meng</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/css/agency.min.css" rel="stylesheet">

    <!-- Font Awesome 5 Pro 5.0.0rc4-->
    <script defer src="/fonts/font-awesome/js/fa-brands.min.js"></script>
    <script defer src="/fonts/font-awesome/js/fa-regular.min.js"></script>
    <script defer src="/fonts/font-awesome/js/fa-solid.min.js"></script>

    <script src="/fonts/font-awesome/js/fontawesome.min.js"></script>

	<!--   Custom Website Style -->
	<link href="/css/index.css" rel='stylesheet' type='text/css'>

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/#page-top">Jeffrey Meng</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#me">Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/projects/">All Projects</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Featured Projects</h6>

                            <a class="dropdown-item" href="https://techedit.jeffkmeng.com">Techedit</a>
                            <a class="dropdown-item" href="https://encryption.jeffkmeng.com">Simple Encryption</a>

                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Small Projects and Sites</h6>

                            <a class="dropdown-item" href="/quickcopy/">Quick Code Snippets</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Template</h2>
                    <h3 class="section-subheading text-muted">(For internal use) - Used to quickly make pages.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <p>
                        Hi. More page content goes here.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Jeffrey Meng 2017-2018</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">

                        <li class="list-inline-item">
                            <a href="https://github.com/jeffreymeng/">
		                  	<i class="fab fa-github"></i>
		                </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li class="list-inline-item">
                                <a href="/sitemap/">Sitemap</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDSCVcPcMzCXMjGhQvQJfkgnjCFzzewTgA",
            authDomain: "jmeng.firebaseapp.com",
            databaseURL: "https://jmeng.firebaseio.com",
            projectId: "project-4679594405675385181",
            storageBucket: "project-4679594405675385181.appspot.com",
            messagingSenderId: "590199481216"
        };
        firebase.initializeApp(config);
    </script>
    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>


    <!-- Custom scripts for this template -->
    <script src="/js/agency.min.js"></script>

    <!-- Custom scripts for this website -->
	<script src="/js/index.js"></script>
</body>

</html>
